#title {
  font-size: xx-large;
}
#header {
  font-size: large;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  border: 2px solid grey;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

.task-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding: 0.5rem;
  border: 1px dashed grey;
  border-radius: 0.5rem;
}
.task-box:hover {
  background-color: darkblue;
  border-color: transparent;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
}
button {
  width: auto;
  padding: 1rem;
  margin: 4px;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
}

.overlay-container {
  visibility: hidden;
  position: absolute;
  flex-direction: column;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: rgba(100, 100, 100, 0.4);
  backdrop-filter: blur(5px);
  justify-content: flex-end;
  align-content: center;
  transition: all 1 s ease-in;
}

.overlay-container.visible {
  visibility: visible;
  display: flex;
  opacity: 1;
}

.popout-box {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: 400px;
  width: 400px;
  padding: 24px;
  background: rgb(100, 100, 100, 0.65);
}
.text-field {
  width: auto;
  height: 35px;
  border-radius: 6px;
  padding-left: 10px;
  margin: 4px;
}

.exit-button {
  top: 5%;
  right: 5%;
  position: absolute;
  align-content: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: rgb(150, 150, 150);
  border-radius: 5px;
  border: none;
}

.exit-button:hover {
  background-color: rgb(210, 210, 210);
}

#reset-password {
  display: none;
  flex-direction: column;
  opacity: 0;
}

#reset-password.visible {
  display: flex;
  opacity: 1;
}

.status-message {
  height: auto;
  width: 100%;
  display: none;
  border-radius: 6px;
  margin: 4px auto;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12pt;
  justify-content: center;
  align-self: stretch;
  padding: 10px;
  flex-shrink: 1;
}

.status-message.success {
  display: flex;
  background-color: rgba(76, 175, 80, 0.8);
}

.status-message.error {
  display: flex;
  background-color: rgba(244, 67, 54, 0.8);
}

#reset-token-button {
  display: inline-block;
}

#reset-token-button.visible {
  display: none;
}

#reset-password-button {
  display: flex;
}

#reset-password-button.visible {
  display: inline-block;
}

.popout-box-text {
  text-align: center;
  padding-bottom: 20px;
}
